body, input, textarea {
    font-family: var(--font-base);
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    line-height: 1.2;
}