#temporary-container {
    color: var(--color-primary);
    text-align: center;
}

#temporary-text {
    width: 48rem;
    padding-top: 6rem;
    margin-bottom: var(--space-xl);
}

#temporary-message {
    font-size: 4rem;
    margin-bottom: var(--space-xl);
}

#temporary-list {
    list-style: none;
}

#temporary-list li a {
    text-decoration: underline;
}

@media (max-width: 800px) {
    #temporary-text {
        width: auto;
    }
}